/* General Styles */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
}

/* Header Styles */
header {
    background: white;
    color: #333;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

.header-left {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-left: 2em;
}

.pink-circle {
    width: 20px;
    height: 20px;
    background-color: rgba(116, 188, 139, 0.6);
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 8px;
}

.header-text {
    text-align: left;
}

.subtitle {
    display: inline-block;
    font-size: 0.80em;
    font-weight: normal;
    color: #666;
    margin-left: 0.5em;
}

header .profile-picture {
    display: block;
    margin: 20px auto 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 1em;
}

/* Section Styles */
section {
    margin: 2em 0;
}

h2 {
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

section#about {
    padding: 20px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    margin-left: 10%;
}

.about-text {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

.about-picture {
    width: 51%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-250px, 25px);
}

section#about h2 {
    margin-top: 70px;
    margin-bottom: 1px;
}

section#about p {
    margin-top: 1px;
}

/* Footer Styles */
footer {
    background: white;
    color: #333;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-icons {
    margin-top: 1em;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

/* Typography Styles */
.work-sans-title {
    font-family: 'Work Sans', serif;
    font-weight: 900;
    font-size: 25px;
}

.work-sans-subtitle {
    font-family: 'Work Sans', serif;
    font-weight: 800;
    font-size: 25px;
}

.work-sans-text {
    font-family: 'Work Sans', serif;
    font-weight: 450;
    font-size: 19px;
}
